<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Animal</title>
</head>
<body>
    <h1>Edit Animal</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/animals/<%= animal._id%>?_method=PUT" method="POST">

            <label>Species:<input type="text" name="species" value="<%= animal.species %>" placeholder="edit species"/></label>
            <br>
            <br>
            <label>Extinct:<input type="checkbox" name="extinct" <%= animal.extinct ? "checked" : "" %> /></label>
            <br>
            <br>            
            <label>Location:<input type="text" name="location" value="<%= animal.location %>" placeholder="edit location"/></label>
            <br>
            <br>            
            <label>Life Expeactancy:<input type="number" name="lifeExpeactancy" value="<%= animal.lifeExpeactancy %>" placeholder="edit lifeExpeactancy"/></label>
            <br>
            <br>
            <input type="submit" value="Update <%= animal.species%>"/>
        </form>
    
</body>
</html>